<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Accueil</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Conférence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sessions-list">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#speakers-list">Présentateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos du téléphone</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<section id="main-view"></section>
</section>